/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.3.2016, 16:59:11
    Author     : Peter
*/
body{
    background-color:gainsboro;
      
}
header{
    
    height:auto;
    background-color:burlywood;
    text-align: center;
    padding: 1px;
   
    
}
section{
    padding: 1px;
    background-color:gainsboro;
    margin-left: 33%;
    margin-top: 3%;
   
}
#telo{
    background-color:gainsboro;
    
}
p{
    padding: 0px;
    margin: 0px;
}